# Ruby / Bundler
/.bundle/
/pkg/
*.gem

# Documentation
/.yardoc
/_yardoc/
/doc/

# Test/runtime artifacts
/coverage/
/spec/reports/
/spec/dummy/log/*
/spec/dummy/tmp/*
/spec/vcr_cassettes/
.rspec_status
/tmp/

# Secrets
.env
spec/dummy/config/master.key
